# Node modules
node_modules/

# Logs
logs
*.log

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Optional: Ignore build folders if you're using frontend frameworks
dist/
build/
